@using TestCloud.Models;

@{
    Layout = null;
    var userLocalizer = ViewBag.Localizer as Dictionary<string, string>;
}

<div ng-controller="portfolioController" data-aos="fade-up" id="portfolio-section">
    <div class="col-md-12">
        <div class="owl-carousel carousel-portfolio">
            <div class="item-carousel container-overlay" ng-repeat="trabajo in Trabajos track by $index">
                <img src="{{ trabajo.Image }}" alt="{{ trabajo.ImageAlt }}">
                <div class="overlay">
                    <div class="text-overlay">
                        {{ trabajo.KeyDescripcion }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
