@{
    Layout = null;
}

<div data-aos="fade-up" id="portfolio-section">
    <div class="col-md-12">
        <div class="owl-carousel carousel-portfolio">
            <div class="item-carousel container-overlay">
                <img src="~/Content/Images/feed1.png" alt="Feed 1">
                <div class="overlay">
                    <div class="text-overlay">Informacion de cliente</div>
                </div>
            </div>
            <div class="item-carousel container-overlay">
                <img src="~/Content/Images/feed2.png" alt="Feed 2">
                <div class="overlay">
                    <div class="text-overlay">Informacion de cliente</div>
                </div>
            </div>
            <div class="item-carousel container-overlay">
                <img src="~/Content/Images/feed3.png" alt="Feed 3">
                <div class="overlay">
                    <div class="text-overlay">Informacion de cliente</div>
                </div>
            </div>
        </div>
    </div>   
</div>
