@{
    ViewBag.Title = "Home Page";
}

<div class="">

    @*<div data-aos="fade-up" class="row titulo">
            <div class="col-md-12">
                <img class="img-title" src="~/Content/Images/lorepongo.JPG">
            </div>
        </div>*@

    <div class="intro-section">
        <div class="container" id="home-section">
            <div class="row align-items-center">
                <div class="col-lg-5 mr-auto" data-aos="fade-up">
                    <div class="slide-text">
                        <h1 class="h1-title mb-5">We Do Awesome Things</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.</p>
                    </div>
                </div>
                <div class="col-lg-6 ml-auto" data-aos="fade-up">
                    <div class="testing">
                        <img src="~/Content/Images/lorepongo.JPG" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    @*<img src="~/Content/Images/lineas2.png" class="linea-divisoria">

    <div data-aos="fade-up" class="row aboutme">
        <div class="col-xl-6 col-lg-12">
            <div class="rectangle">
                <div class="circle"></div>
                <img src="~/Content/Images/lore.JPG" class="img-aboutme rounded-circle" alt="Lore">
            </div>
        </div>
        <div class="offset-xl-2 col-xl-3 col-lg-12 mt-3">
            <h1 class="h1-title mb-3">Hi there! I’m Lorena</h1>
            <p>Is your current website, branding or graphics not providing you with the results you desire? Let’s work together to grow your business, reach your goals and see the right clients coming in effortlessly!</p>
            <div class="mt-3">
                <a href="#" class="btn btn-lore btn-block">Yes!</a>
            </div>
        </div>
    </div>*@


    @*<img src="~/Content/Images/lineas2.png" class="linea-divisoria">

    <div class="content testimonials">

    </div>*@

    <img src="~/Content/Images/lineas2.png" class="linea-divisoria">

    <div class="container" id="services-section">
        <div class="row">
            <div class="col-md-6 col-xl-12 mb-3">
                <h1 class="h1-title">Services</h1>
            </div>

            <div class="col-xl-6 col-md-12 mb-3">
                <div class="service" data-aos="flip-left">
                    <span class="custom-icon-wrap"><span class="flaticon-glasses"></span></span>
                    <h3>Branding Design</h3>
                    <p>Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-3">
                <div class="service" data-aos="flip-left" data-aos-delay="100">
                    <span class="custom-icon-wrap"><span class="flaticon-monitor"></span></span>
                    <h3>WordPress Integration</h3>
                    <p>Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="offset-md-4 col-md-4 offset-md-4">
                    <button href="#" class="btn btn-lore btn-block">Call me!</button>
                </div>
            </div>

        </div>
    </div>
    
</div>


    <img src="~/Content/Images/lineas2.png" class="linea-divisoria">

    @Html.Partial("~/Views/Home/Partials/Portfolio.cshtml")

    <img src="~/Content/Images/lineas2.png" class="linea-divisoria">

    @Html.Partial("~/Views/Home/Partials/ContactMe.cshtml")
</div>
