@{
    ViewBag.Title = "Home Page";
}

<div id="overlayer">
    <div class="spinner"></div>
</div>

<div class="">
    <div class="intro-section">
        <div class="container" id="home-section">
            <div class="row align-items-center">
                <div class="col-lg-5 mr-auto" data-aos="fade-up">
                    <div class="slide-text">
                        <h1 class="h1-title mb-5">We Do Awesome Things</h1>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime ipsa nulla sed quis rerum amet natus quas necessitatibus.</p>
                        <div class="offset-md-2 col-md-8 offset-md-2">
                            <button href="#" class="btn btn-lore btn-block">My porftolio</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 ml-auto" data-aos="fade-up">
                    <div class="testing">
                        <img src="~/Content/Images/lore.JPG" alt="Image" class="img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <img src="~/Content/Images/lineas2.png" class="linea-divisoria">

    <div class="container" id="services-section">
        <div class="row">
            <div class="offset-md-3 col-md-6 offset-xl-0 col-xl-12 mb-3">
                <h1 class="h1-title">Services</h1>
            </div>

            <div class="col-xl-6 col-md-12 mb-3">
                <div class="service" data-aos="flip-left">
                    <span class="custom-icon-wrap"><span class="flaticon-glasses"></span></span>
                    <h3>Branding Design</h3>
                    <p>Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
                </div>
            </div>

            <div class="col-xl-6 col-md-12 mb-3">
                <div class="service" data-aos="flip-left" data-aos-delay="100">
                    <span class="custom-icon-wrap"><span class="flaticon-monitor"></span></span>
                    <h3>WordPress Integration</h3>
                    <p>Natus totam voluptatibus animi aspernatur ducimus quas obcaecati mollitia quibusdam temporibus culpa dolore molestias blanditiis consequuntur sunt nisi.</p>
                </div>
            </div>

            <div class="col-md-12 mt-3">
                <div class="offset-md-4 col-md-4 offset-md-4">
                    <button href="#" class="btn btn-lore btn-block">Call me!</button>
                </div>
            </div>
        </div>
    </div>

</div>


<img src="~/Content/Images/lineas2.png" class="linea-divisoria">

@Html.Partial("~/Views/Home/Partials/Portfolio.cshtml")

<img src="~/Content/Images/lineas2.png" class="linea-divisoria">

@Html.Partial("~/Views/Home/Partials/ContactMe.cshtml")
</div>
