@{
    ViewBag.Title = "Home Page";
}


<script src="~/Scripts/portfolio.js"></script>

<div id="overlayer">
    <div class="spinner"></div>
</div>

<div class="intro-section">
    <div class="container portfolio-container">
        <div class="row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Home/Partials/_portfolio-cards.cshtml")
            </div>
        </div>
    </div>
</div>

