@{
    ViewBag.Title = "Home Page";
}

<div id="overlayer">
    <div class="spinner"></div>
</div>

<div class="intro-section portfolio-row intro-section-portfolio">
    <div class="container portfolio-container portfolio-row">
        <div class="row portfolio-row">
            <div class="col-md-12">
                @Html.Partial("~/Views/Home/Partials/_portfolio-cards.cshtml")
            </div>
        </div>
    </div>
</div>

