h1{
	color: var(--main-color-app);	
    font-family: veganFont;
}

p{
	color: black;
    font-family: MadeMirage;
}

body{
    font-family: MadeMirage !important;
}

@media only screen and (min-width: 2000px) {
    /* for sumo sized (mac) screens */
}


@media only screen and (min-width: 1440px) {
    /* styles for browsers larger than 1440px; */
}

@media only screen and (max-width: 1100px) {
    .circle {
        display: none;
    }

    .img-aboutme {
        left: 50% !important;
        margin-left: -210px !important;
    }

    .rectangle {
        background-color: white !important;
    }

    .btn-submit {
        top: 0 !important;
    }

    .square {
        padding-bottom: 50% !important;
    }
}

@media (max-width: 991.98px) {
    .service {
        padding: 2rem;
    }

    .intro-text {
        margin: 20% 0 !important;
    }

    .post-intro {
        margin-top: 40% !important;
    }

    .intro-section:before {
        height: 120% !important;
        width: 100%;
    }

    .intro-section p {
        min-width: 100%;
    }
}


@media only screen and (max-width: 750px) {
    .circle {
        left: 10% !important;
        display: none;
    }

    .img-aboutme {
        left: 50% !important;
        margin-left: -210px !important;
    }

    .rectangle {
        background-color: white !important;
    }

    .btn-submit {
        top: 0 !important;
    }

    .square {
        padding-bottom: 50% !important;
    }

    .service {
        width: 100% !important;
        left: 0 !important;
        max-width: 500px !important;
    }

    .intro-section {
        margin-bottom: 15% !important;
    }

    .navbar-lore {
        background-color: var(--second-color-app) !important;
    }
}


@media (max-width: 600px){
    .intro-section:before {
        height: 115% !important;
        width: 100% !important;
    }
}

@media only screen and (device-width: 768px) {
    /* default iPad screens */
    .intro-text {
        margin: 20% 0 !important;
    }

    .post-intro {
        margin-top: 40% !important;
    }

    .intro-section:before {
        height: 120% !important;
        width: 100% !important;
    }
}


@media (max-width: 480px) {
    /* styles for mobile browsers smaller than 480px; (iPhone) */
    .intro-text {
        margin: 10% 0 !important;
    }

    .post-intro {
        margin-top: 20% !important;
    }

    .intro-section:before {
        height: 105% !important;
        width: 100% !important;
    }
}

/* different techniques for iPad screening */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
    /* For portrait layouts only */
}



@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
    /* For landscape layouts only */
}





body {
    max-width: 100%;
    overflow-x: hidden;
    font-size: 25px;
    background-color: white;
}

/*NAVBAR*/
.header{
	position: fixed;
	width: 100%;
    z-index: 6000;
}

.header li a{
	color: var(--main-color-app) !important;
	font-size: 20px;
	font-family: veganFont;
	margin: 5px 1px;
}

.fa-navicon{
	color: var(--main-color-app); 
	font-size:28px;
}

.navbar-lore{
	background-color: transparent;
}

.header h1{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/*FUENTES*/
@font-face {
    font-family: myFirstFont;
    src: url(/fonts/GreatVibes-Regular.ttf);
}

@font-face {
    font-family: veganFont;
    src: url(/fonts/VeganFont.ttf);
}

@font-face {
    font-family: MadeMirage;
    src: url(/fonts/MadeMirage.otf);
}

@font-face {
  font-family: farOut;
  src: url(/fonts/FarOut.ttf);
}

/*COLORES*/
:root {
    --main-color-app: #0f0f0e;
    --second-color-app: #bfcdcd;
    --third-color-app: #c7974f;
    --e-color-app: #f6e5d5;
    --f-color-app: #b1675e;
}

.content{
	padding: 10px;
}

/*BOTONES*/
.btn-lore {
    color: white !important;
    background-color: var(--f-color-app) !important;
    border-color: var(--f-color-app) !important;
    border-radius: 10px !important;
    text-transform: uppercase;
    font-size: 1.5rem !important;
    font-family: MadeMirage;
    transition: transform 2s;
}

    .btn-lore:hover {
        background-color: white !important;
        color: var(--f-color-app) !important;
        border: 2px solid var(--f-color-app) !important;
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
    }

.btn-lore-sm {
    color: white !important;
    background-color: var(--f-color-app) !important;
    border-color: var(--f-color-app) !important;
    border-radius: 10px !important;
    text-transform: uppercase;
    font-size: 1rem !important;
    font-family: MadeMirage;
    transition: transform 2s;
    margin: 2px;
}

    .btn-lore-sm.active {
        background-color: white !important;
        color: var(--f-color-app) !important;
        border: 2px solid var(--f-color-app) !important;
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
    }

    .btn-lore-sm:hover {
        background-color: white !important;
        color: var(--f-color-app) !important;
        border: 2px solid var(--f-color-app) !important;
        -ms-transform: scale(1.05); /* IE 9 */
        -webkit-transform: scale(1.05); /* Safari 3-8 */
        transform: scale(1.05);
    }

    .btn-lore:active {
        background-color: white !important;
        color: var(--f-color-app) !important;
        border: 2px solid var(--f-color-app) !important;
        -ms-transform: scale(1.10); /* IE 9 */
        -webkit-transform: scale(1.10); /* Safari 3-8 */
        transform: scale(1.10);
    }

    .btn-lore-sm:active {
        background-color: white !important;
        color: var(--f-color-app) !important;
        border: 2px solid var(--f-color-app) !important;
        -ms-transform: scale(1.10); /* IE 9 */
        -webkit-transform: scale(1.10); /* Safari 3-8 */
        transform: scale(1.10);
    }

.header-branding-logo{
	max-width: 150px;
	max-height: 80px;
}

.btn-submit{
	top: 40px;
}

.h1-title{
	text-align: center;
	font-family: veganFont;
    color: var(--f-color-app);
}

.contact-form input:focus{
	box-shadow: 0 0px 2px var(--third-color-app)!important;
}

.contact-form textarea:focus{
	box-shadow: 0 0px 2px var(--third-color-app)!important;
}

/* Spinner */

@keyframes spin {
    to {
        transform: rotate(360deg)
    }
}

body {
    background: #20262e;
}

.spinner, .spinner::before, .spinner::after {
    content: '';
    display: block;
    border: 4px solid transparent;
    border-radius: 50%;
    animation: spin infinite linear 2s;
    position: absolute;
}

.spinner {
    width: 100px;
    height: 100px;
    border-top-color: var(--third-color-app);
    top: calc(50% - 50px);
    left: calc(50% - 50px);
}

    .spinner::before {
        border-top-color: var(--main-color-app);
        animation-duration: 4s;
        top: 2px;
        bottom: 2px;
        left: 2px;
        right: 2px;
    }

    .spinner::after {
        border-top-color: var(--second-color-app);
        top: 8px;
        bottom: 8px;
        left: 8px;
        right: 8px;
    }


/*LOADER*/

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#loadingDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    z-index:99999;
}

/*PORTFOLIO*/

.portfolio img{
    max-width: 50%;
}

.carousel-item img{
    max-height: 500px;
    max-width: 900px;
    margin: 0 auto;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}

.nav-item a:hover{
    text-decoration:underline;
}

.item-carousel img {
    max-height: 350px !important;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: var(--main-color-app);
}

.container-overlay:hover .overlay {
    opacity: 0.8;
}

.text-overlay {
    color: white;
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.btn-overlay {
    color: black;
    font-size: 20px;
    position: absolute;
    left: 50%;
    top: 85%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.img-testimonial {
    padding: 5px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

.card-testimonial{
    border-color: var(--main-color-app) !important;
}

.linea-divisoria{
    width: 100%;
    max-height: 80px;
    min-height: 75px;
    background-image: url(/Content/Images/lineas2.png);
    background-repeat: round;
    background-size: cover;
}

.img-title{
    width: 100%;
    max-height: 600px;
    object-fit: cover;
    /*object-position: 50% 25%;*/
}

.rectangle {
    background: var(--second-color-app);
    width: 100%;
    min-width: 430px;
    min-height: 430px;
    border-radius: 10px;
}

    .rectangle h1 {
        color: #fff;
    }

.circle {
    background: var(--e-color-app);
    border-radius: 100%;
    height: 420px;
    width: 420px;
    position: absolute;
    left: 55%;
}

.img-aboutme {
    height: 420px;
    width: 420px;
    position: absolute;
    left: 59%;
    top: 5px;
    object-fit: cover;
    object-position: 50% 25%;
    transition: transform .2s;
}

.txt-aboutme{
    top: 50%;
    position: relative;
}

.square {
    background: var(--second-color-app);
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    left: 25%;
    border-radius: 10px;
    border: 2px solid var(--e-color-app);
    overflow-wrap: break-word;
}


.btn-services{
    width: 30% !important;
}

.img-aboutme:hover {
    -ms-transform: scale(1.15); /* IE 9 */
    -webkit-transform: scale(1.15); /* Safari 3-8 */
    transform: scale(1.15);
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

.service {
    padding: 4rem;
    background: #fff;
    position: relative;
    border-radius: 4px;
    overflow: hidden;
    top: 0;
    -webkit-transition: 0.3s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    -o-transition: 0.3s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    transition: 0.3s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
}



.service .custom-icon-wrap {
    width: 80px;
    height: 80px;
    display: block;
    border-radius: 50%;
    background-color: #fafafa;
    position: relative;
    margin-bottom: 1.5rem;
    -webkit-transition: 0.2s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    -o-transition: 0.2s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    transition: 0.2s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    top: 0;
}

    .service .custom-icon-wrap > span {
        font-size: 1.8rem;
        position: absolute;
        display: inline-block;
        top: 50%;
        left: 50%;
        color: black;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

.service:before, .service:after {
    position: absolute;
    content: "";
    height: 7px;
    background: var(--second-color-app);
    top: 0;
    left: 0;
    width: 100%;
    -webkit-transition: 0.3s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    -o-transition: 0.3s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
    transition: 0.3s all cubic-bezier(0.17, 0.67, 0.52, 0.94);
}

.service:before {
    z-index: 1;
}

.service:after {
    background: var(--second-color-app);
    width: 0;
    z-index: 2;
}

.service:hover {
    top: -10px;
    -webkit-box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px -5px rgba(0, 0, 0, 0.2);
}

    .service:hover:after {
        width: 100%;
    }

    .service:hover .custom-icon-wrap {
        background: var(--second-color-app);
        top: -10px;
    }

.intro-section {
    position: relative;
}

    .intro-section, .intro-section .container .row {
        height: 100vh;
        min-height: 1200px;
    }

        .intro-section:before {
            content: "";
            position: absolute;
            height: 100%;
            width: 70%;
            background: var(--second-color-app);
            border-bottom-right-radius: 200px;
        }


.intro-section .btn {
    border-width: 2px;
}

.intro-section h1{
    font-size: 3rem;
}

.intro-section .intro-img {
    border-top-left-radius: 200px;
}

.navbar-nav li{
    margin: 0 10px;
}

.shrink {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
    background: var(--second-color-app);
}

.nav-item a.active {
    text-decoration: underline;
}

.btn-portfolio{
    position: relative !important;
    top: 60%;
}

#overlayer {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 7100;
    background: #fff;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn.focus, .btn:focus{
    box-shadow: none !important;
}

.portfolio-container {
    padding-top: 10% !important;
}

@media (max-width: 500px) {
    .portfolio-container {
        padding-top: 20% !important;
    }
}


.portfolio-row {
    min-height: unset !important;
    height: unset !important;
}

/*#posts div{
    max-height: 400px;
    max-width: 400px;
}

    #posts div img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }*/

.bootstrap-select .inner{
    overflow: hidden !important;
}

.bootstrap-select .inner ul{
    overflow: hidden !important;
}

.btn-light{
    background-color: transparent !important;
    border-color: transparent !important;
}